* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.logo {
    height: 45px;
    object-fit: cover;
}

form .form-control:focus {
    box-shadow: none;
    border-color: #c9c3c3;
}

.app {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Wrapper {
    border: 1px solid rgb(202, 197, 197);
    height: 450px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_Wrapper_Login {
    border: 1px solid rgb(202, 197, 197);
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app__headerWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input_values {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input_values input {
    height: 40px;
    width: 300px;
    margin-top: 10px;
    padding-left: 10px;
}

.btn_class {
    height: 40px;
    width: 300px !important;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(239, 66, 124);
}

.End_container {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Goto_Login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.logo_Registration {
    height: 35px;
}

.app_add_image_wrapper {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_add_image_wrapper img {
    background-size: cover;
    background-position: center;

}

.create_bg {
    background-color: #fafafa;
    height: 100px;
}

.posting {
    height: 75vh;
    overflow: scroll;
    background-color: #fafafa;
}

.posting::-webkit-scrollbar {
    display: none;
}

/* post css */

.post {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.info .username {
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    height: 40px !important;
    width: 40px !important;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
    height: inherit;
    width: inherit;
    background-size: cover;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;
}

.description {
    margin: 5px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -50px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

.icon{
    cursor: pointer;
}

.carousel-control-prev-icon {
    display: none !important;
}
.carousel-control-next-icon {
    display: none !important;
}